@use "./abstracts/mixins" as mix;
@use "components/temp-panel.scss" as tempPanel;
@use "components/clock.scss" as clock;
@use "components/details-panel.scss" as detailsPanel;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-light: hsla(0, 0%, 100%, 0.55);
  --clr-yellow: linear-gradient(270deg, #ffb800 30.35%, #d9e021 103.7%);
  --pad-2: 1em 2em;
  --clr-modal: hsl(0, 0%, 20%);
}

.clr-light {
  color: var(--clr-light);
}

body {
  @include mix.darkOverlay;
  background-image: url("../images/rainy-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: white;
  display: grid;
}

.root,
.App,
main {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
