@mixin darkOverlay {
  &::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@mixin hoverMq {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin activeTab {
  color: #d9e021;
  background: var(--clr-yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
