@use "./search-bar.scss" as searchBar;
@use "./footer-nav.scss" as footerNav;
@use "../abstracts/mixins.scss" as mix;

.tabs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-block: 1em 0.25em;
  font-weight: 300;
  font-size: 1.1rem;
}

.tab.active {
  @include mix.activeTab;
}

.tab {
  transition: all 300ms linear;
  color: var(--clr-light);

  &:active {
    transform: translateY(-2px);
    transition: all 300ms linear;
  }

  @include mix.hoverMq {
    &:hover {
      cursor: pointer;
      user-select: none;
      opacity: 0.7;
    }
  }
}

.details-panel {
  background: rgba(0, 0, 0, 0.46);
  backdrop-filter: blur(40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab-container {
  font-weight: 300;
  padding: var(--pad-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.75px;
}

.detail-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5em;
  gap: 1.25em;

  & > p {
    margin: 0;
    font-size: 1.1rem;
    color: #fff;
  }
}

.detail-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .name {
    color: var(--clr-light);
  }
}

.forecast-day {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 0%, 95%, 0.1);
  box-shadow: 0px 0px 3px 1px hsla(0, 0%, 35%, 0.2);
  border-radius: 15px;
  padding: 1em 0.75em;
  font-size: clamp(0.8rem, 1vw, 1.1rem);

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
  }

  .condition,
  .wind {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wind img {
    width: clamp(20px, 18px + 2vw, 35px);
  }

  .condition img {
    width: clamp(30px, 25px + 2vw, 35px);
  }

  .wind {
    width: 9ch;
  }

  .temps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;

    span {
      color: var(--clr-light);
    }
  }

  .date {
    p:first-of-type {
      color: var(--clr-light);
    }

    p:nth-of-type(2) {
      letter-spacing: 2px;
    }
    width: 9ch;
  }
}

.weather-details {
  padding-bottom: 1.5em;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
}

.settings-icon {
  fill: var(--clr-light);
  width: 30px;
  height: 30px;
  transition: all 0.3s linear;
  @include mix.hoverMq {
    &:hover {
      fill: #fff;
      cursor: pointer;
    }
  }
  &:active {
    fill: #fff;
    transform: scale(1.075);
    transition: all 0.3s linear;
  }
}
