@use "../abstracts/mixins" as mix;
@use "../abstracts/animations" as *;

.search-bar {
  display: flex;
  gap: 1em;
  width: 100%;
  padding: var(--pad-2);
  padding-bottom: 0;

  path#search-icon-path {
    transition: all 0.2s linear;
  }

  svg#search-icon {
    width: 35px;
    height: 35px;
    object-fit: contain;
    transition: transform 0.2s linear;

    &:active {
      path#search-icon-path {
        fill: hsla(0, 0%, 100%, 1) !important;
        fill-opacity: 1 !important;
        stroke: none !important;
        fill-rule: nonzero !important;
      }
      transform: scale(1.075);
      transition: transform 0.3s linear;
    }

    @include mix.hoverMq {
      &:hover {
        cursor: pointer;
        user-select: none;

        path#search-icon-path {
          fill: hsla(0, 0%, 100%, 1) !important;
          fill-opacity: 1 !important;
          stroke: none !important;
          fill-rule: nonzero !important;
        }
      }
    }
  }
}

.search-input {
  width: 100%;
  input[type="text"] {
    width: 100%;
    padding: 0.5em;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--clr-light);
    font-size: 1rem;
    letter-spacing: 0.75px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
  }

  position: relative;

  &-results {
    min-height: 0;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.6);
    backdrop-filter: blur(40px);
    position: absolute;

    ul {
      list-style: none;
      padding: 0.5em;
    }

    li {
      cursor: pointer;
      transition: all 0.2s linear;
      font-weight: 300;
      padding: 0.15em;

      &:hover {
        background-color: hsla(0, 0%, 100%, 0.25);
      }
    }
  }
}
