@use "./refresh-btn.scss" as refreshBtn;

.temp-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em 0.15em 1em;
  height: 100%;
}

.temp-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-block: 0.15em;

  h2 {
    font-size: 5rem;
  }
}

.temp-condition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 75px;
    height: auto;
  }

  p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    transform: translateY(-0.5em);
    max-width: 18ch;
  }
}

.temp-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;

  .city {
    font-size: 2rem;
  }

  .country {
    font-size: 1.1rem;
    font-weight: 300;
  }
}

.last-updated {
  margin-top: 1em;
  font-weight: 300;
  color: var(--clr-light);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 1em;
}
