.temp-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.temp-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-block: 0.15em;

  h2 {
    font-size: 5rem;
  }
}

.temp-condition  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 75px;
    height: auto;
  }

  p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
    transform: translateY(-0.5em);
  }
}

.temp-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;

  .city {
    font-size: 2rem;
  }

  .country {
    font-size: 1.1rem;
    font-weight: 300;
  }
}
